<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    # Direct requests for existing files/folders
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Send everything to index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
